{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% block head %}
    {% endblock head %}
    <title>Document</title>
</head>
<body style="background-color:#e8e8e8; padding-top: 0" id='body-block-div'>
    

    {% include "inventario_app/navbar.html" %}
    <!-- {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %} <p class="alert alert-danger">{{ message }} </p>
        {% else %} <p class="alert alert-{{message.tags}}"> {{ message }}</p> {% endif %}
         
    {% endfor %}{% endif %} -->
    <div style="background-color: #eeeeee;" class="container p-4">
    {% block body %}
       
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    {% endblock body%}
    {% block scripts %}
    {% endblock scripts %}

</body>

{% include "inventario_app/footer.html" %}



</html>



