{% extends 'inventario_app/base.html' %}
{% load static %}
{% block body %}
		<div id="order-row" class="row">
			<div class="col-lg-6">
				<div id="order-div" class="box-element p-4">
					<a id='inicio' class="btn btn-outline-dark" href="{% url 'index' %}">&#x2190; Inicio</a>
					<a class='continue-button btn btn-outline-dark float-right' href="{% url 'email-confirmation' %}">Continuar &#x2192</a>
					<hr>
					<h3>Resumen de orden</h3>
					<hr>
					<div id="items-div">
					</div>
						<div id="order-items">
							<ol>
							</ol>
						</div>
						<div id='total'>
						</div>
					</div>
			</div>
		</div>

<script type='module' src='{% static "js/cart.js"%}'> </script>

<style>
	.disabled {
		cursor: not-allowed;
		opacity: 0.65;
		filter: alpha(opacity=65);
		box-shadow: none;
	}
</style>
{% endblock %}



