{% extends 'inventario_app/base.html' %}
{% load static %}
{% block body %}

		<div class="row">
			<div class="col-lg-6">
				<div class="box-element p-4">
					{% if not order.complete %}
					<a  class="btn btn-outline-dark" href="{% url 'index' %}">&#x2190; Inicio</a>
					{% if order.get_cart_items > 0 %}
					<a  class="btn btn-outline-dark float-right" href="{% url 'email-confirmation' %}">Continuar &#x2192;</a>
					{% endif %}
					<hr>
					<h3>Resumen de orden</h3>
					<hr>
					<!-- {% for item in order.items.all %}
					{% if item.quantity > 0 %} -->
					<div id="items-div" class="row">
						<!-- <div class='col-lg-4'>
							<p style="display: inline-block;">{{item.product.name}}</p><hr>
						</div>
						<div class='col-lg-4'>
							<p style="display: inline-block;">${{item.product.price|floatformat:2}}</p><hr>
						</div>
						<div class='col-lg-4'>
							<p style="display: inline-block;">
								<a href="{% url 'remove-from-cart' item.product.id %}"><i class="fas fa-minus mr-1"></i>
								</a>{{item.quantity}}<a href="{% url 'add-to-cart' item.product.id %}"><i class="fas fa-plus ml-1"></i></a>
							</p><hr> -->
						</div>
						<div id="order-items">
							<ol>

							</ol>
						</div>
						<div id='total'>

						</div>
						
						<!-- <div style="flex:2"><img class="img-thumbnail2" src="{{item.product.image.url}}"></div> -->
					</div>
				<!-- {% endif %}
				{% endfor %} -->
				
			</div>
			{% endif %}
		</div>
<script>
	buildProductsList()
	function buildProductsList(){
		const wrapper = document.getElementById('items-div')
		const url = 'http://127.0.0.1:8000/api/order-list/'
		fetch(url)
		.then(response => response.json())
		.then(function(data){
			console.log('Data:', data)
			order = data
			let order_item_objs = order.items
			let order_items_total_quantity = 0 
			let order_items_total_price = 0
			order_item_objs.forEach(function(item){
				order_items_total_quantity += item.quantity
				order_items_total_price += item.quantity * item.product.price
			});

			order_item_objs.map(function(item){
				wrapper.innerHTML += `
				<div class='col-lg-4'>
					<p style="display: inline-block;">${item.product.name}</p><hr>
				</div>
				<div class='col-lg-4'>
					<p style="display: inline-block;">$${item.product.price}</p><hr>
				</div>
				<div class='col-lg-4'>
					<p> ${item.quantity} </p>
				</div>`
			});
			const total = document.getElementById('total')
			total.innerHTML += `
				<h5>Cantidad Total: ${order_items_total_quantity} unidades</h5>
				<h5>Precio Final: $ ${order_items_total_price}</h5>`
		});
	}
</script>
{% endblock %}


 
