{% extends 'inventario_app/base.html' %}
{% load static %}
{% block body %}
		<div class="row">
			<div class="col-lg-6">
				<div class="box-element p-4">
					{% if not order.complete %}
					<a  class="btn btn-outline-dark" href="{% url 'index' %}">&#x2190; Inicio</a>
					{% if order.get_cart_items > 0 %}
					<a  class="btn btn-outline-dark float-right" href="{% url 'email-confirmation' %}">Continuar &#x2192;</a>
					{% endif %}
					<hr>
					<h3>Resumen de orden</h3>
					<hr>
					<div id="items-div">
					</div>
						<div id="order-items">
							<ol>
							</ol>
						</div>
						<div id='total'>
						</div>
					</div>
			</div>
			{% endif %}
		</div>

<script>


	buildProductsList()

	function addHtmlForItemQuantitySelection(order_item_objs) {
		itemsDiv = document.getElementById('items-div');
		itemsDiv.innerHTML = ``
		order_item_objs.map(function(item){
			itemsDiv.innerHTML += `
			<div id='item-row ${item.id}' class='row'>
				<div class='col-lg-4'>
					<p style="display: inline-block;">${item.product.name}</p><hr>
				</div>
				<div class='col-lg-4'>
					<p style="display: inline-block;">$${item.product.price}</p><hr><span></span>
				</div>
				<div class='col-lg-4'>
					<p id='cart-data'>
						<i id='minus-quantity ${item.id}' class="fas fa-minus mr-1"></i>
						<span id='item-quantity ${item.id}'>${item.quantity}</span>
						<i id='plus-quantity ${item.id}' class="fas fa-plus mr-1"></i>
						<i id='trash-can ${item.id}' class="fa fa-trash ml-5" aria-hidden="true"></i>
					</p>
				<div class='col-lg-4'>
				</div>
				</div>
			</div>
			`
		});
	}

	function onOrderListFetched(order) {
			let order_item_objs = order.items
			let order_items_total_quantity = 0
			let order_items_total_price = 0

			localStorage.setItem('order', JSON.stringify(order))
			localStorage.setItem('total_quantity', '0')
			localStorage.setItem('total_price', '0')

			function updateLocalStorage(){
				localStorage.setItem('order', JSON.stringify(order_item_objs))
				localStorage.setItem('total_quantity', JSON.stringify(order_items_total_quantity))
				localStorage.setItem('total_price', JSON.stringify(order_items_total_price))
			}
			
			addHtmlForItemQuantitySelection(order_item_objs);

			order_item_objs.forEach(function(item){
				order_items_total_quantity += item.quantity;
				order_items_total_price += item.quantity * item.product.price;
				localStorage.setItem('total_quantity', JSON.stringify(order_items_total_quantity))
				localStorage.setItem('total_price', JSON.stringify(order_items_total_price))
			});

			function renderTotalPriceAndQuantity(){
				const total = document.getElementById('total')
				total.innerHTML = ``
				total.innerHTML += `
				<h5>Cantidad Total: <span id='total-quantity'>${order_items_total_quantity}</span> unidades</h5>
				<h5>Precio Final: $ <span id='total-price'>${order_items_total_price}</span></h5>`
			}

			function deleteProduct(item) {
				for(var i=0; i < order_item_objs.length; i++){
					if(order_item_objs[i].id == item.id){
						order_item_objs.splice(i, 1);
						order_items_total_price -= item.product.price * item.quantity;
						order_items_total_quantity -= item.quantity;
						updateLocalStorage()
					}
				}
				for(var i=0; i < itemsDiv.children.length; i++){
					if(itemsDiv.children[i].id === ('item-row ' + item.id)){
						itemsDiv.children[i].remove()
					}
				}
				renderTotalPriceAndQuantity()
			}

			function substractQuantity(item) {
				minus = document.getElementById('minus-quantity ' + item.id);
				if(item.quantity > 0){
					item.quantity -= 1;
					order_items_total_price -= parseInt(item.product.price);
					order_items_total_quantity -= 1;
					updateLocalStorage()
					if (item.quantity == 0) {
						minus.classList.add("disabled");
					}
				}

				document.getElementById('item-quantity ' + item.id).innerHTML = item.quantity
				document.querySelector('#total-price').innerHTML = order_items_total_price
				document.querySelector('#total-quantity').innerHTML = order_items_total_quantity
			}

			function addQuantity(item) {
				item.quantity += 1;
				minus = document.getElementById('minus-quantity ' + item.id);
				if(item.quantity > 0){
					if(minus.classList.value.includes("disabled")){
						minus.classList.remove("disabled")
					}
					order_items_total_price += parseInt(item.product.price);
					order_items_total_quantity += 1;
					updateLocalStorage();
				}
			
				document.getElementById('item-quantity ' + item.id).innerHTML = item.quantity
				document.querySelector('#total-price').innerHTML = order_items_total_price
				document.querySelector('#total-quantity').innerHTML = order_items_total_quantity
			}

			order_item_objs.forEach((item) => {
					item_id = JSON.stringify(item.id);
					minus_id = 'minus-quantity ' + item_id;
					minus = document.getElementById(minus_id);
					plus_id = 'plus-quantity ' + item_id;
					plus = document.getElementById(plus_id);
					trash_can = document.getElementById("trash-can " + item.id)

					minus.addEventListener('click', () => substractQuantity(item))
					plus.addEventListener('click', () => addQuantity(item))
					trash_can.addEventListener('click', () => deleteProduct(item))

			});

			renderTotalPriceAndQuantity()
			
		}

	function buildProductsList(){
		const url = '/api/order-list/'

		fetch(url)
			.then(function(response) { return response.json(); })
			.then(onOrderListFetched);
	}
</script>

<style>
	.disabled {
		cursor: not-allowed;
		opacity: 0.65;
		filter: alpha(opacity=65);
		box-shadow: none;
	}
</style>
{% endblock %}



