{% extends 'inventario_app/base.html' %}
{% load static %}
{% block body %}

		<div class="row">
			<div class="col-lg-6">
				<div class="box-element p-4">
					{% if not order.complete %}
					<a  class="btn btn-outline-dark" href="{% url 'index' %}">&#x2190; Inicio</a>
					{% if order.get_cart_items > 0 %}
					<a  class="btn btn-outline-dark float-right" href="{% url 'email-confirmation' %}">Continuar &#x2192;</a>
					{% endif %}
					<hr>
					<h3>Resumen de orden</h3>
					<hr>
					<!-- {% for item in order.items.all %}
					{% if item.quantity > 0 %} -->
					<div id="items-div" class="row">
						<!-- <div class='col-lg-4'>
							<p style="display: inline-block;">{{item.product.name}}</p><hr>
						</div>
						<div class='col-lg-4'>
							<p style="display: inline-block;">${{item.product.price|floatformat:2}}</p><hr>
						</div>
						<div class='col-lg-4'>
							<p style="display: inline-block;">
								<a href="{% url 'remove-from-cart' item.product.id %}"><i class="fas fa-minus mr-1"></i>
								</a>{{item.quantity}}<a href="{% url 'add-to-cart' item.product.id %}"><i class="fas fa-plus ml-1"></i></a>
							</p><hr> -->
						</div>
						<div id="order-items">
							<ol>

							</ol>
						</div>
						<div id='total'>

						</div>

						<!-- <div style="flex:2"><img class="img-thumbnail2" src="{{item.product.image.url}}"></div> -->
					</div>
				<!-- {% endif %}
				{% endfor %} -->

			</div>
			{% endif %}
		</div>
<script>

	buildProductsList()

	function substractQuantity(item){
		return item -= 1
	}

	function addHtmlForItemQuantitySelection(order_item_objs) {
		itemsDiv = document.getElementById('items-div');
		order_item_objs.map(function(item){
			itemsDiv.innerHTML += `
			<div class='col-lg-4'>
				<p style="display: inline-block;">${item.product.name}</p><hr>
			</div>
			<div class='col-lg-4'>
				<p style="display: inline-block;">$${item.product.price}</p><hr>
			</div>
			<div class='col-lg-4'>
				<p>
					<i id='minus-quantity ${item.id}' class="fas fa-minus mr-1"></i>
					<span id='item-quantity ${item.id}'>${item.quantity}</span>
					<i id='plus-quantity ${item.id}' class="fas fa-plus mr-1"></i>
				</p>
			</div>`

		});
	}

	function onOrderListFetched(order) {
			console.log('Data:', order)
			let order_item_objs = order.items
			let order_items_total_quantity = 0
			let order_items_total_price = 0

			order_item_objs.forEach(function(item){
				order_items_total_quantity += item.quantity
				order_items_total_price += item.quantity * item.product.price
			});

			order_item_objs = order.items

			addHtmlForItemQuantitySelection(order_item_objs);

			order_item_objs.forEach((item) => {
				item_id = JSON.stringify(item.id)
				minus_id = 'minus-quantity ' + item_id
				minus = document.getElementById(minus_id)

				minus.addEventListener('click', () => {
					item.quantity -= 1;
					console.log(item.quantity);
					document.getElementById('item-quantity ' + item.id).innerHTML = item.quantity
				})

				plus_id = 'plus-quantity ' + item_id
				plus = document.getElementById(plus_id)

				plus.addEventListener('click', () => {
					item.quantity += 1
					console.log(item.quantity);
					document.getElementById('item-quantity ' + item.id).innerHTML = item.quantity
				})

			});
			const total = document.getElementById('total')
			total.innerHTML += `
				<h5>Cantidad Total: ${order_items_total_quantity} unidades</h5>
				<h5>Precio Final: $ ${order_items_total_price}</h5>`
		}


	function buildProductsList(){
		const url = '/api/order-list/'

		fetch(url)
			.then(function(response) { return response.json(); })
			.then(onOrderListFetched);
	}
</script>
{% endblock %}



