{% extends 'inventario_app/base.html' %}
{% load static %}

{% block body %}
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="contact-details">
          <p style='text-align: center;'>Funes Dulceria</p>
          <p style='text-align: center;'>Telefono: +54 9 341 665-9897</p>
          <p style='text-align: center;'>Email: <a href="">Info@Company.com</a></p>
          <ul style='text-align: center;' class="social-menu">
            <li class="list-inline-item pr-5"><a href="#"><i style="font-size: 48px; color: grey; text-align: center;" class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item pr-5"><a href="#"><i style="font-size: 48px; color: grey; text-align: center;" class="fab fa-whatsapp"></i></a></li>
          </ul>
        </div>
    </div>
</div>

{% endblock body %}
