{% extends 'inventario_app/base.html' %}
{% load static %}
{% block body%}


<a  class="btn btn-outline-dark" href="{% url 'index' %}">&#x2190; Inicio</a>

<section class="mb-5 mt-5">
  <div class="row">
    <div class="col-md-6 mb-4 mb-md-0">
      <div id="mdb-lightbox-ui"></div>
      <div class="mdb-lightbox">
        <div class="row product-gallery mx-1">
          <div class="col-12 mb-0">
            <figure class="view overlay rounded z-depth-1 main-img">
                <img id='product-detail-img' src="{{product.image.url}}"
                  class="img-fluid z-depth-1">
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>{{product.name}}</h4>
      {% for cat in product.category.all %}
      <span style='background-color: coral;' class="badge badge-primary">
        {{ cat }}
      </span>
      {% endfor %}
      <p style='font-size: medium' class="pt-1">{{product.description}}</p>
      <div class="table-responsive">
      </div>
      <hr>
      <a id='lo-quiero {{ product.id }}' style='display: inline-block;' class="btn btn-success btn-m lo-quiero-button mr-3" href="">Lo Quiero! <span class='far fa-candy-cane'></span></a>
      <p style='display: inline-block; color: hsl(0, 0%, 30%);'><span><strong class='mt-5'>${{product.price}} p/u</strong></span></p>
      </div>
  </div>
  <input type='hidden' value='{{ product.id }}' id='product'/>

</section>
{{ mydata|json_script:"mydata" }}


<script type='module' src='{% static "js/detail-view.js" %}'></script>
{% endblock %}




  