{% extends 'inventario_app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block body %}


<a  class="btn btn-outline-dark mb-4" href="{% url 'cart' %}">&#x2190; Atras</a>

<h1> Confirmación de orden</h1>
<p>Por favor llene el formulario con sus datos y le enviaremos un link de confirmación</p>
<div class='row'>

    <div class='col-4 mt-2'> 
    <!-- <a  class="btn btn-outline-dark float-right mb-4" href="">Continuar &#x2192;</a> -->
       <form id='form' method="POST">
            {% csrf_token %}
            {{ form | crispy }} 
            <br><button id='enviar-button' class='btn btn-primary' type="submit">Enviar</button>
        </form>


    </div>
</div>

<script src='{% static "js/email_confirmation.js" %}'></script>
    
    


{% endblock %}