<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORDEN CONFIRMADA</title>
</head>
<body>
    <h1>Orden {{ order.id }}</h1>
    <p>Cliente: {{ order.customer_name }}</p>
    <p>Telefono: {{ order.customer_phone_number }}</p>
    <p>Email: {{ order.customer_email }}</p>
    <p>Localidad: {{ order.customer_location }}</p>
    <p>Direccion: {{ order.customer_address }}</p>
    {% if order.gift %} <p><strong>Para Regalar</strong></p>{% endif %}
    
    <table id='email-table'>
        <thead>
          <tr>
            <th id='email-table'>#</th>
            <th id='email-table'>Producto</th>
            <th id='email-table'>Cantidad</th>
            <th id='email-table'>Precio x unidad</th>
          </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
          <tr>
            <th id='email-table'>{{ forloop.counter }}</th>
            <td id='email-table'>{{ item.product.name }}</td>
            <td id='email-table'>{{ item.quantity }}</td>
            <td id='email-table'>${{ item.product.price }}</td>
          </tr>
          {% endfor %}
          <tr>
            <th id='email-table'>#</th>
            <td id='email-table'>Envio</td>
            <td id='email-table'>#</td>
            <td id='email-table'>60</td>
          </tr>
        </tbody>
        <tbody>
        <tr>
            <td id='email-table'><h2>Cantidad: {{order.get_cart_items}} unidades</h2></td><br>
            <td id='email-table'><h2>Total: ${{order.get_cart_total|add:"60"|floatformat:2}}</h2></td>
        </tr>
        </tbody>
      </table>

</body>
</html>
