<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmacion de Email</title>
</head>
<body>
    <h1>Bienvenidos a Funes Dulceria</h1>
    <p>Usted ha realizado la siguiente compra</p>
    <table id='email-table'>
        <thead>
          <tr>
            <th id='email-table'>#</th>
            <th id='email-table'>Producto</th>
            <th id='email-table'>Cantidad</th>
            <th id='email-table'>Precio x unidad</th>
          </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
          <tr>
            <th id='email-table'>{{ forloop.counter }}</th>
            <td id='email-table'>{{ item.product_name }}</td>
            <td id='email-table'>{{ item.quantity }}</td>
            <td id='email-table'>${{ item.product_price }}</td>
          </tr>
          {% endfor %}
          <tr>
            <th id='email-table'>#</th>
            <td id='email-table'>Envio</td>
            <td id='email-table'>#</td>
            <td id='email-table'>100</td>
          </tr>
        </tbody>
        <tbody>
        <tr>
            <td id='email-table'><h2>Cantidad: {{order.get_cart_items}} unidades</h2></td><br>
            <td id='email-table'><h2>Total: ${{order.get_cart_total|add:"100"|floatformat:2}}</h2></td>
        </tr>
        </tbody>
      </table>
      <p>Nos comunicaremos con vos por telefono para ultimar detalles</p>
    <!-- <p>Por favor clickee sobre este link para confirmar su direccion de email y completar su orden.</p>
    <h4><a href="{{ confirm_url }}">{{ confirm_url }}</h4></p>
    <p>Una vez confirmado el pedido lo contactaremos via el numero <strong>{{ customer_info.phone_number }}</strong></p> -->
</body>
</html>
