<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmacion de Email</title>
</head>
<body>
    <h1>Bienvenidos a Funes Dulceria</h1>
    <p>Usted ha realizado la siguiente compra</p>

    <p>Por favor clickee sobre este link para confirmar su direccion de email y completar su orden.</p>
    <h4><a href="{{ confirm_url }}">{{ confirm_url }}</h4></p>
    <p>Una vez confirmado el pedido lo contactaremos via el numero <strong>{{ customer_info.phone_number }}</strong></p>
</body>
</html>
