{% extends 'inventario_app/base.html' %}
{% load crispy_forms_tags %}


{% block body %}


<a  class="btn btn-outline-dark mb-4" href="{% url 'cart' %}">&#x2190; Atras</a>

<h1> Confirmación de orden</h1>
<p>Por favor llene el formulario con sus datos y le enviaremos un link de confirmación</p>
<div class='row'>

    <div class='col-4 mt-2'> 
    <!-- <a  class="btn btn-outline-dark float-right mb-4" href="">Continuar &#x2192;</a> -->
       <form id='form' method="POST">
            {% csrf_token %}
            {{ form | crispy }} 
            <br><button id='enviar-button' class='btn btn-primary' type="submit">Enviar</button>
        </form>


    </div>
</div>

<script>
    order = JSON.parse(localStorage.getItem('order'))
    console.log(order)

    final_order = {
        "complete": false,
        "active": true,
        "customer_name": " ",
        "customer_email": " ",
        "items": {},
    }

    Object.values(order).forEach((i) =>{
        final_order.items[i.name] =
            {
                'quantity': i.quantity,
                'product': {
                    'id': i.id,
                    'name': i.name,
                    'price': i.price,
                }
            }
        });
        
    
    
    console.log('final order', final_order)

    const form = document.getElementById('form')
    const csrftoken = form.getElementsByTagName('input')[0].value

    
    function createOrderItem(order){
        const url = '/api/order-create/'

		fetch(url, {
            method: 'POST',
            body: JSON.stringify(final_order),
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            }
        }).then(res => res.json())
        .catch(error => console.error('Error', error))
        .then(response => console.log('Success', response));
    
    }
    document.getElementById('enviar-button').addEventListener('click', (event) => {
        const name = form.getElementsByTagName('input')[1].value
        const last_name = form.getElementsByTagName('input')[2].value
        const email = form.getElementsByTagName('input')[3].value
        final_order.customer_name = `${name} ${last_name}`
        final_order.customer_email = email

        
        createOrderItem(final_order)
    });
    
</script>

{% endblock %}