{% extends 'inventario_app/base.html' %}
{% load static %}

{% block post-navbar %}
    {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
    {% endif %}
{% endblock %}

{% block head %}

{% endblock head %}

{% block body %}

<div id='jumbotron' class="jumbotron text-center expand shadow">
    <h1 class="">Bienvenidos a Funes Dulceria</h1>
    <p>Elegí lo que quieras y te lo enviamos a tu casa.<p>
    <p></p>
        <span style='font-size: 50px'>&#x1F468;&#x200D;&#x1F469;&#x200D;&#x1F467;&#x200D;&#x1F466;</span>
        <span style='font-size: 50px'>&#x1F3E0;</span>
        <span style='font-size: 50px'>&#x1F308;</span>
    <h6>Tomamos pedidos de Lunes a Viernes hasta las 18hs.</h6>
</div>

<div id='most-popular-container' style="padding: 10px" class="row shadow-lg">
    <div style="float: none; margin: 0 auto;" class='row'>
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
            </ol>
            <div class="carousel-inner">
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
    <div id='most-popular-row' class="row"></div> 
</div><hr>
<div id='product-details' class="row"></div>

{% if request.session.order_completed or request.session.order_failed %}
<script>
    localStorage.removeItem('order')
    localStorage.removeItem('total_quantity')
    localStorage.removeItem('total_price')
    cart = document.querySelector('#cart span')
</script>
{% endif %}
<script type='module' src="{% static 'js/index.js' %}"></script> 
<script type='module' src="{% static 'js/functions.js' %}"></script> 
{% endblock body %}
