{% extends 'inventario_app/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock head %}

{% block body %}

    {% if messages %}
                {% for message in messages %}
                    <h5 class="alert alert-{{message.tags}}">{{ message }}</h5>
                {% endfor %}
    {% endif %}

<div id='jumbotron' style='background-color:#abb7b7' class="jumbotron text-center expand">
    <h1 class="">Bienvenidos a Funes Dulceria</h1>
    <p class="lead text-muted">Elegí lo que quieras y te lo enviamos a tu casa<p>
</div>
<div id='most-popular-container' style="padding: 10px" class="row shadow-lg border boder-light">
    <div class='d-flex flex-row bd-highlight'>
        <h3 style='display: flex; flex-direction:row;' class=''>Mas Populares</h3>
    </div>
    <div id='most-popular-row' class="row"></div> 
</div><hr>
<div id='product-details' class="row"></div>


{% if order_sent %}
<script>
    localStorage.removeItem('order')
    localStorage.removeItem('total_quantity')
    localStorage.removeItem('total_price')
    cart = document.querySelector('#cart span')
    cart.innerHTML = ` 0`
</script>
{% endif %}
<script src="{% static 'js/index.js' %}"></script> 

<script type='module' src="{% static 'js/hola.js' %}"></script> 
<script type='module' src="{% static 'js/functions.js' %}"></script> 



{% endblock body %}
