{% load static %}

<link rel='stylesheet' href='{% static "css/navbar.css" %}'> 

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ml-auto shadow sticky-top tp-0">
  <div class="container d-flex justify-content-between">
    <a class="navbar-brand" href="{% url 'index' %}">DULCERIA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
        <li class="nav-item active ml-auto">
          <a style='color:coral' class="nav-link" href="{% url 'create' %}">Nuevo<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active ml-auto">
          <a style='color:coral' class="nav-link" href="{% url 'admin-product-list' %}">Productos<span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Chocolates
          </a>
          <div id='dropdown-cats-list' class="dropdown-menu" aria-labelledby="navbarDropdown">
          </div>
        </li>
        
        <li id='cart' class="nav-item mr-auto">
          
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" method="">
        <input id='search-input' name="q" class="form-control mr-sm-3" type="search" placeholder="Buscar">
        <button id='search-submit' class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav> 
  <!-- <div id='order-empty-message' class="alert alert-danger alert-dismissible message fade" role="alert">
      <strong>Tu orden esta vacia!</strong> Por favor agregue producto al carro para continuar.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div> -->
  <!-- <div id='add-item-message' class="alert alert-warning alert-dismissible message fade" role="alert">
    <strong>Producto agregado al carro!</strong>
  </div> -->
  <script>
    const addCartHtml = () => {
      total_quantity = localStorage.getItem('total_quantity')
      if(total_quantity === null){
        total_quantity = '0'
      }
      document.getElementById('cart').innerHTML +=`
      <a style="color: white; font-family: Arial, Helvetica, sans-serif" href="{% url 'cart' %}"><i style="vertical-align: middle" class="far fa-candy-cane"><span> ${total_quantity} <span></i>
      </a> 
      `
    }
    addCartHtml()
  </script>
  
<script>
  const search_input = document.getElementsByName('q')
  const form_submit_button = document.getElementById('search-submit')

  const products = JSON.parse(localStorage.getItem('products'))

    
  function filterItems(query) {
    return products.filter(function(el) {
        return ((el.name.toLowerCase().indexOf(query.toLowerCase()) > -1) 
        || (el.description.toLowerCase().indexOf(query.toLowerCase()) > -1) 
        || (el.category.map((i) => {return i.name.toLowerCase()}).join(" ").includes(query)));          
    })
  }

  function renderSearchResults(products, query) {
    if(query === undefined){
      query = document.getElementsByName('q')[0].value
    }
    const base_div = document.getElementById('base-div');
    const title = `<div class='row'><h2>Resultados de la busqueda "${query}"</h2></div>`
    const base_div_row = `<div class="row" id="base-div-row"></div>`
    base_div.innerHTML = title
    base_div.innerHTML += base_div_row
    const base_div_row_el = document.getElementById('base-div-row')
      products.forEach((product) => {
        base_div_row_el.innerHTML += `
        <div class="col-lg-3 col-md-3 col-sm-3">
            <a href=""><img id='img-atag ${product.id}' class="img-thumbnail" src=${product.image}></a>
            <div class="box-element product">
                <a href=""><h6 class="pt-2" style="display: inline-block"><strong>${product.name}</strong></h6></a>
                <h6 class="pt-2" style="display: inline-block; float:right">$ ${product.price}</h6>				
                <br><a id='lo-quiero ${product.id}' class="btn btn-success btn-sm" href="">Lo Quiero! <span class='far fa-candy-cane'></span></a>
            </div>
            <br>
        </div>
        `
    });
    addLoQuieroTag(products,'lo-quiero')
  };

  addEventListenerToBuscarButton()


function addEventListenerToBuscarButton(){
  form_submit_button.addEventListener('click', (e) => {
    e.preventDefault()
    let query = document.getElementsByName('q')[0].value
    let products_filtered = filterItems(query.toLowerCase())
    renderSearchResults(products_filtered)
  });
}


// --------- Fetch all categories -------
function displayCatsOnNavbar(response){
  const cats_div = document.getElementById('dropdown-cats-list')
  response.forEach((cat)=>{
    const node = `<a id='cat ${cat.id}' class="dropdown-item" href="">${cat.name}</a>`
    cats_div.insertAdjacentHTML('afterbegin', node)
    document.getElementById('cat ' + cat.id).addEventListener('click', (e)=>{
      e.preventDefault()
      query = cat.name.toLowerCase()
      let products_filtered = filterItems(query)
      console.log(products_filtered)
      renderSearchResults(products_filtered, query)
    });
  });
};

function buildCategoriesList() {
  const url = '/api/categories-list/'

  fetch(url)
      .then(function(response) { return response.json(); })
      .then(displayCatsOnNavbar);
  }
  buildCategoriesList()

</script>
  