{% extends 'inventario_app/base.html' %}
{% load crispy_forms_tags %}


{% block body %}
<div class="update-product row justify-content-md-center">
    <div>
    <h2>Actualizar producto ya existente</h2> 
    <form action="{% url 'update' product.id %}" method="POST" name='create-product' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy }}
    <br>  
    <button class="btn btn-success" type='submit'>Actualizar</button>
    </form>
    </div>
</div>

<script>
    (function() {
        const list_of_fields = [document.querySelector('#id_price_100g'),                
                                document.querySelector('#id_price_200g'),
                                document.querySelector('#id_price_300g')]
        if(document.querySelector('#id_price').value || !document.querySelector('#id_price_100g').value){
            document.querySelector('#id_price').disabled = false
            list_of_fields.forEach((field) => {
                field.disabled = true
            });
        }else{
            document.querySelector('#id_price').disabled = true
        }
        
        document.querySelector('#id_sold_by_weight').addEventListener('click', () =>{
           if(!document.querySelector('#id_price').disabled){
            document.querySelector('#id_price').disabled = true
            list_of_fields.forEach((field) => {
                field.disabled = false
        });
           }else{
            document.querySelector('#id_price').disabled = false
            list_of_fields.forEach((field) => {
                field.disabled = true
            });
           };
        });
    })();  
</script>
   
{% endblock %}